{% extends 'base.html' %}
{% block title %} 
    Create a new Category
{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
  
        <div class="form-group"> 
            <h1> Add Category </h1>
            <br/>
            <br/>
            <div class="container"> 

            <form method= "POST"> 
                {% csrf_token %}
                {{ form.as_p }} 
                <button class="btn btn-secondary">
                    guardar
                </button>
            </form>
            </div> 
        </div>
    {% else %}
        You are not ALLOWED HERE!
    {% endif %}    

{% endblock %}