
{% extends 'base.html' %}

{% block title %} 
    My Blog DETAIL
{% endblock %}

{% block content %}

    <h1> {{ post.title }}</h1>
    By:
    {{ post.author.first_name }} 
    {{ post.author.last_name }} - 
    {{ post.post_date }} -

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'delete_post' post.pk %}"><small>[Erase]</small></a>
            <a href="{% url 'update_post' post.pk %}"><small>[Edit]</small></a>
        {% endif %}    
    {% endif %}    

    <hr>
    <br/>
    {{ post.body|safe}}

    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary"> Back </a>
    <br/>
    <br/>
    <hr/>
    <br/>
    <form action="{% url 'like_post' post.pk %}" method="POST"> 
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit" class="btn btn-danger btn-sm"  value="{{ post.id }}" name="post_id">Unlike </button> -
            {% else %}    
                <button type="submit" class="btn btn-primary btn-sm"  value="{{ post.id }}" name="post_id">Like </button> -
            {% endif %}
        {% else %}
        <small><a href="{% url 'login' %}">Login </a>to Like</small> 
        {% endif %}
        {{ total_likes }} Likes
    </form>

{% endblock %}