
{% extends 'base.html' %}

{% block title %} 
    My Blog DETAIL
{% endblock %}

{% block content %}

    <h1> {{ post.title }}</h1>
    By:
    {{ post.author.first_name }} 
    {{ post.author.last_name }} - 
    {{ post.post_date }} -

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'delete_post' post.pk %}"><small>[Erase]</small></a>
            <a href="{% url 'update_post' post.pk %}"><small>[Edit]</small></a>
        {% endif %}    
    {% endif %}    

    <hr>
    <br/>
    {% if post.header_image %}
        <img class="img-thumbnail" src="{{ post.header_image.url}}"> <br/><br/>
    {% endif %}

    {{ post.body|safe}}

    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary"> Back </a>
    <br/>
    <br/>
    <hr/>
    <br/>
    <form action="{% url 'like_post' post.pk %}" method="POST"> 
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit" class="btn btn-danger btn-sm"  value="{{ post.id }}" name="post_id">Unlike </button> -
            {% else %}    
                <button type="submit" class="btn btn-primary btn-sm"  value="{{ post.id }}" name="post_id">Like </button> -
            {% endif %}
        {% else %}
        <small><a href="{% url 'login' %}">Login </a>to Like</small> 
        {% endif %}
        {{ total_likes }} Likes
    </form>
<hr/>
<br/>
<br/>
<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-2">
        <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start" width=200 heigth=200>
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ post.author.first_name }} 
            {{ post.author.last_name }}</h5>

        <p class="small text-muted">
            {% if post.author.profile.website_url %}
                |  <a href="{{ post.author.profile.website_url}}" >website</a>       
            {% endif %}
            {% if post.author.profile.website_url %}
                |  <a href="{{ post.author.profile.facebook_url}}" >facebook</a>   
            {% endif %} 
            {% if post.author.profile.website_url %}
                |  <a href="{{ post.author.profile.twitter_url}}" >twitter</a>
            {% endif %}
        </p>

          <p class="card-text">
            {{ post.author.profile.bio}}
          </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}