{% extends 'base.html' %}

{% block content %}

<h1> Posts </h1>

<ul>
{% for post in object_list %}
    <li>
        <a href="{% url 'article-detail' post.pk %}">
        {{ post.title }} </a> - 
        {{ post.post_date }} - 
        <a href="{% url 'category' post.category %}">
        {{ post.category|slugify }}</a> - 
        {{ post.author.first_name }} {{ post.author.last_name }} 

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'delete_post' post.pk %}"><small>[Erase]</small></a>
                <a href="{% url 'update_post' post.pk %}"><small>[Edit]</small></a>
            {% endif %}
        {% endif %}

        <br/>
        {{ post.snippet|slice:":80" }}
        <!--{{ post.body|slice:":80"|safe }} reemplazado por snippet -->
    </li>
{% endfor %}
</ul>

{% endblock %}